{% load i18n staticfiles humanize auth_tokens %}
<div id="checkout-confirmation">
    <div class="check-mark">
        <img src="{% static 'kakocase/img/check-mark.png' %}" class="img-responsive" alt="">
    </div>
    <div class="order-details">
        {% with da=order.delivery_address do=order.delivery_option %}
        {% if order.is_more_than_one_hour_old %}
            <h3>Your order No <strong>{{ order.rcc|upper }}</strong></h3>
            <div class="col-sm-5">
                <p style="margin-bottom: 1.5em">
                    <span class="status-bullet {{ order.status|lower }}"></span>
                    <span>{% trans "Status" %}: </span>
                    <ins class="text-muted">{% trans order.status %}</ins>
                </p>
                <div>
                    {% if do.type == 'PickUpInStore' %}
                        <h4>{% trans "Remit to" %}:</h4>
                    {% else %}
                        <h4>{% trans "Deliver to" %}:</h4>
                    {% endif %}
                    {{ da.name }}
                    <p style="font-size: .9em; line-height: 1.4em">
                        {% if do.type == 'PickUpInStore' %}
                            <em>{{ da.phone }}</em><br><br>
                            <strong>{{ do.name }}</strong>
                        {% else %}
                            {{ da.details }}<br>
                            {% if da.postal_code %}{% trans "Postal code" %}: {{ da.postal_code }}, <br>{% endif %}
                            <strong style="color: #666">{{ da.city }}, {{ da.country.name }}.</strong><br>
                            <em>{{ da.phone }}</em>
                        {% endif %}
                    </p>
                </div>
                <p style="margin-top: 1em">{% blocktrans with email=da.email %}
                    A confirmation email was sent to {{ email }}.
                {% endblocktrans %}</p>
                <p style="margin-top: .5em">{% trans "Thank you for shopping with us." %}</p>
                {% if dara %}
                    <a class="btn btn-lg btn-success hidden-xs" href="https://daraja.ikwen.com/" style="margin-top: 27px">{% trans 'Back to Playground' %}</a>
                    <a class="btn btn-lg btn-block btn-success visible-xs" href="https://daraja.ikwen.com/" style="margin-top: 27px">{% trans 'Back to Playground' %}</a>
                {% else %}
                    <a class="btn btn-lg btn-success hidden-xs" href="https://daraja.ikwen.com/daraja/playground" style="margin-top: 27px">{% trans 'Back home' %}</a>
                    <a class="btn btn-lg btn-block btn-success visible-xs" href="https://daraja.ikwen.com/daraja/playground" style="margin-top: 27px">{% trans 'Back home' %}</a>
                {% endif %}
            </div>
{#            <div class="highlight col-sm-5 col-sm-offset-2">#}
{#                {% if order.status == 'Shipped' %}#}
{#                {% endif %}#}
{#            </div>#}
        {% else %}
            {% blocktrans with rcc=order.rcc|upper %}
                <h3>Your order was issued with success under number <strong>{{ rcc }}</strong>.</h3>{% endblocktrans %}
            <div class="col-sm-5">
                <div>
                    <h4>{% trans "Deliver to" %}:</h4>
                    {{ order.delivery_address.name }}
                    <p style="font-size: .9em; line-height: 1.4em">
                        {{ order.delivery_address.details }}<br>
                        <strong style="color: #666">{{ order.delivery_address.city }}, {{ order.delivery_address.country.name }}.</strong><br>
                        <em>{{ order.delivery_address.phone }}</em>
                    </p>
                </div>
                <p style="margin-top: 1em">{% trans "We will contact you as soon as the package is shipped." %}</p>
                <p>{% trans "Thank you for shopping with us." %}</p>
                {% if dara %}
                    <a class="btn btn-lg btn-success hidden-xs" href="https://daraja.ikwen.com/" style="margin-top: 27px">{% trans 'Back to Playground' %}</a>
                {% else %}
                    <a class="btn btn-lg btn-success hidden-xs" href="https://daraja.ikwen.com/daraja/playground" style="margin-top: 27px">{% trans 'Back home' %}</a>
                {% endif %}
            </div>
            <div class="highlight col-sm-5 col-sm-offset-2">
                {% if user.is_authenticated %}
                    {% blocktrans with console_url=settings.IKWEN_CONSOLE_URL %}
                        You can still follow your package status from your <a href="{{ console_url }}">timeline</a>.
                    {% endblocktrans %}
                {% else %}
                    Search on the website by typing your order number and follow its status.
                {% endif %}
            </div>
            {% if dara %}
                <a class="btn btn-lg btn-block btn-success visible-xs" href="https://daraja.ikwen.com/" style="margin-top: 27px">{% trans 'Back to Playground' %}</a>
            {% else %}
                <a class="btn btn-lg btn-block btn-success visible-xs" href="https://daraja.ikwen.com/daraja/playground" style="margin-top: 27px">{% trans 'Back home' %}</a>
            {% endif %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="clearfix"></div>
</div>